body{
    background-color: #12081c;
    height: 100vh;
    align-items: center;
}


.container {
    width: 400px;
    height: 600px;
    border-radius: 15px;
    align-items: center;
    gap: 200px;
    justify-items: center;
    margin: 150px;
  

    
}

button {
    position: relative;
    border-radius: 15px;
    height: 100px;
    width: 300px;
    margin: 15px;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 1000ms;
    border: none;
    color: rgb(0, 1, 7);
    
        

}

button:hover{
    transform: translateY(-10px);
    background-color: aliceblue;

}

.calculate {
    position: absolute;
    background: linear-gradient;
    border-radius: 20px;
    margin-top: -770px;
    margin-left: 300px;
    width: 600px;
    height: 400px;
    display: none;
}

showCal.calculate{
    display: block;
}

#f1 {
    background: linear-gradient(to bottom, #a93470, #741f4b);
    box-shadow: inset #681b43 0px 0px 22px;
    box-shadow: #a93470 0px 0px 20px;   
    
}

#f2 {
    background: linear-gradient(to bottom, #ffa500, #ff6600);
    box-shadow: #ff6600 0px 0px 22px;
}

#f3 {
    background: linear-gradient(to bottom, #0dbf7e, #088658);
    box-shadow: #088658 0px 0px 22px;
}
